<div>
    {% if limitForm.vars.label is empty %}
        {{ limitForm.vars.name|replace({':':'.'})|capitalize }}
    {% else %}
        {{ limitForm.vars.label }}
    {% endif %}
</div>
{{ form_widget(limitForm) }}
