<div>
    {% if pageSizeForm.vars.label is empty %}
        {{ pageSizeForm.vars.name|replace({':':'.'})|capitalize }}
    {% else %}
        {{ pageSizeForm.vars.label }}
    {% endif %}
</div>
{{ form_widget(pageSizeForm) }}
