{% for form in filterForm %}
    <div {% for key, value in attributes %}{{ key }}="{{ value }}"{% endfor %}>
        <div>
            <small>
                {{ form.vars.label }}
            </small>
        </div>
        {{ form_widget(form) }}
    </div>
{% endfor %}
