{% for form in searchForm %}
    <div {% for key, value in options.attributes|default({}) %}{{ key }}="{{ value }}"{% endfor %}>
        <div>
            <small>
                {{ form.vars.label }}
            </small>
        </div>
        {{ form_widget(form) }}
    </div>
{% endfor %}
