{% for form in filterForm %}
    <div {% for key, value in attributes %}{{ key }}="{{ value }}"{% endfor %}>
        <div>
            {{ form.vars.label }}
        </div>
        {{ form_widget(form) }}
    </div>
{% endfor %}
